<style>
    .profileCard {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 100px;
        left: 50px;
        border: 1px solid black;
    }
</style>

<div class='profileCard'>
    <a href='/profile/{{user.id}}'>{{user.username}}</a>
    <br>
    {{user.handle}}
    <br>
    Following: {{user.following.count}}
    <br>
    Tweets: {{user_tweet_count}}
    {% if current_user != user and current_user %}
    <a href='/follow/{{user.id}}'>
        <button>
            {% if user in following %}
            Unfollow
            {% else %}
            Follow
            {% endif %}
        </button>
    </a>
    {% endif %}
</div>