<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <style>
        .tweet {
            border: 1px solid gray;
            display: flex;
            flex-direction: column;
            max-width: 700px;
        }
        .tweetFeed {
            position: relative;
            left: 300px;
            top: 70px;
        }
    </style>
</head>
{% include 'topbar.html' %}
{% if user.username %}
    {% include 'profilecard.html' %}
{% endif %}
<body>
    <div class='tweetFeed'>
        <div class='tweet'>
            <p><a href='/profile/{{tweet.user.id}}'>{{tweet.user.username}}</a> {{tweet.user.handle}} {{tweet.date}}</p>
            <p>{{tweet.body}}</p>
        </div>    
    </div>
</body>
</html>